In [1]:
from dotenv import load_dotenv


load_dotenv()

True

In [11]:
from app.codeinterpreter.component.session import CodeInterpreterSession


async def main():
    # create a session
    # session = CodeInterpreterSession(port=7777)
    # await session.astart()

    # generate a response based on user input
    # response = await session.generate_response(
    #     "Plot the bitcoin chart of 2023 YTD"
    #     # """三井のリハウスについて以下のフォーマットで回答して
    #     # ```
    #     # 資本金: {資本金を記入します}
    #     # 売上高: {売上高を記入します}
    #     # 代表: {会社代表を記入します}
    #     # ```
    #     # """
    # session = CodeInterpreterSession(port=7777)
    # )
    # # terminate the session
    # await session.astop()

    async with CodeInterpreterSession(port=7777) as session:
        response = await session.generate_response("タイタニックデータセットをダウンロードして、df 変数に格納して")
        print("AI: ", response.content)
        for file in response.files:
            file.show_image()

    # async with CodeInterpreterSession(port=7777) as session:
        response = await session.generate_response("df 変数の最初の3行を返して")
        print("AI: ", response.content)
        for file in response.files:
            file.show_image()

In [12]:
await main()

AI:  タイタニックデータセットをダウンロードし、df変数に格納しました。データセットの最初の数行は以下の通りです：

|   | survived | pclass | sex    | age   | sibsp | parch | fare    | embarked | class | who   | adult_male | deck | embark_town | alive | alone |
|---|----------|--------|--------|-------|-------|-------|---------|----------|-------|-------|------------|------|-------------|-------|-------|
| 0 | 0        | 3      | male   | 22.0  | 1     | 0     | 7.2500  | S        | Third | man   | True       | NaN  | Southampton | no    | False |
| 1 | 1        | 1      | female | 38.0  | 1     | 0     | 71.2833 | C        | First | woman | False      | C    | Cherbourg   | yes   | False |
| 2 | 1        | 3      | female | 26.0  | 0     | 0     | 7.9250  | S        | Third | woman | False      | NaN  | Southampton | yes   | True  |
| 3 | 1        | 1      | female | 35.0  | 1     | 0     | 53.1000 | S        | First | woman | False      | C    | Southampton | yes   | False |
| 4 | 0        | 3      | male   | 35.0  | 0     | 0     | 8.0500  | S        | Third | man   | True       | NaN  | Southampton | no    | True  |

各列の説明は以下の通りです：

- survived: 生存したかどうか（0 = No, 1 = Yes）
- pclass: チケットクラス（1 = 1st, 2 = 2nd, 3 = 3rd）
- sex: 性別
- age: 年齢
- sibsp: タイタニックに乗船していた兄弟姉妹/配偶者の数
- parch: タイタニックに乗船していた親/子供の数
- fare: 旅客運賃
- embarked: 乗船した港（C = Cherbourg, Q = Queenstown, S = Southampton）
- class: チケットクラス（First, Second, Third）
- who: man, woman, child
- adult_male: 成人男性かどうか
- deck: デッキ
- embark_town: 乗船した町
- alive: 生存したかどうか（yes, no）
- alone: 一人で乗船したかどうか
AI:  タイタニックデータセットの最初の3行は以下の通りです：

|   | survived | pclass | sex    | age   | sibsp | parch | fare    | embarked | class | who   | adult_male | deck | embark_town | alive | alone |
|---|----------|--------|--------|-------|-------|-------|---------|----------|-------|-------|------------|------|-------------|-------|-------|
| 0 | 0        | 3      | male   | 22.0  | 1     | 0     | 7.2500  | S        | Third | man   | True       | NaN  | Southampton | no    | False |
| 1 | 1        | 1      | female | 38.0  | 1     | 0     | 71.2833 | C        | First | woman | False      | C    | Cherbourg   | yes   | False |
| 2 | 1        | 3      | female | 26.0  | 0     | 0     | 7.9250  | S        | Third | woman | False      | NaN  | Southampton | yes   | True  |